<!-- ============================================================= SECTION – HERO ============================================================= -->
			
<section id="hero">
	<div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg owl-about">
		
		<div class="item item-1">
			<div class="container">
				<div class="caption vertical-center text-center">
					
				</div><!-- /.caption -->
			</div><!-- /.container -->
		</div><!-- /.item -->
		
		<div class="item item-2">
			<div class="container">
				<div class="caption vertical-center text-right">
			
				</div><!-- /.caption -->
			</div><!-- /.container -->
		</div><!-- /.item -->

		<div class="item item-3">
			<div class="container">
				<div class="caption vertical-top text-right">
					
					
				</div><!-- /.caption -->
			</div><!-- /.container -->
		</div><!-- /.item -->
		
		<div class="item item-4">
			<div class="container">
				<div class="caption vertical-center text-left">
					
					
				</div><!-- /.caption -->
			</div><!-- /.container -->
		</div><!-- /.item -->
		
		
		
		<div class="item item-5">
			<div class="container">
				
			</div><!-- /.container -->
		</div><!-- /.item -->
		
	</div><!-- /.owl-carousel -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->
			

<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
	
<section id="about" class="dark-bg img-bg-softer">
	<div class="container inner-top inner-bottom-sm">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Voices of The Temptasians</h1>
					<p>USA - China - Korea - Japan - Taiwan - Thailand - Singapore</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
	
	</div><!-- /.container -->
</section>
	
	<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->

<!-- ============================================================= SECTION – Sopranos ============================================================= -->
			
<section id="team" class="light-bg">
	<div class="container inner-top inner-bottom-sm">
		
		<div class="row inner-top-sm text-center top-row">
			
			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Stella.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Stella Lee
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Harmony Zhang.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Harmony Zhang
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Nancy.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Nancy Zhu
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->


			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Ashling.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Ashling Zhang
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row 1-->	

		<div class="row inner-top-sm text-center">
			
			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Chrislyn Choo.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Chrislyn Choo
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/human01.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Lillian Kang
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Jiwon.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							JiWon Seo
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->


			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Alice.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Alice Liu
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row -->	

		<div class="row inner-top-sm text-center">
			
			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Esther.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Esther Han
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Alvin.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Alvin Kang
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Yu Zhou Lee.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Yu Zhou Lee
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->


			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Alex.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Alex Li
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row -->	

		<div class="row inner-top-sm text-center">
			
			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Eric.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Eric Wu
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Kei.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Kei Yoshikoshi
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Jonathan.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Jonathan Chou
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->


			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Joseph.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Joseph Choi
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row -->	

		<div class="row inner-top-sm text-center">
			
			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/James Wu.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							James Wu
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Kevin.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Kevin Wu
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Pum.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Pum Wiboonsaksakul
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->


			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Mitchell.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Mitchel Kim
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row -->	

		<div class="row inner-top-sm text-center">
			
			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/David.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							David Chou
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->
			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div>
						<%= image_tag("about/Belinda.jpg", class: "img-circle") %>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Belinda Wang
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row -->	
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – Sopranos : END ============================================================= -->
<%= javascript_include_tag 'templates/image-hover.js' %>
  <%= javascript_include_tag 'templates/owl-carousel-script.js' %>