<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
	
<section id="about" class="dark-bg img-bg-softer">
	<div class="container inner-top inner-bottom-sm">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Voices of The Temptasians</h1>
					<p>USA - China - Korea - Japan - Taiwan - Thailand - Singapore</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
	
	</div><!-- /.container -->
</section>
	
	<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->

<!-- ============================================================= SECTION – Sopranos ============================================================= -->
			
<section id="team" class="light-bg">
	<div class="container inner-top inner-bottom-sm">
		
		<div class="row inner-top-sm text-center top-row">
			
			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Stella Lee
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Harmony Zhang
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Nancy Zhu
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->


			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Ashling Zhang
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row 1-->	

		<div class="row inner-top-sm text-center">
			
			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/Chrislyn Choo.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Chrislyn Choo
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Lillian Kang
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							JiWon Seo
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->


			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Alice Liu
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row -->	

		<div class="row inner-top-sm text-center">
			
			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Esther Han
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/Alvin Kang.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Alvin Kang
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/Yu Zhou Lee.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Yu Zhou Lee
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->


			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Alex Li
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row -->	

		<div class="row inner-top-sm text-center">
			
			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Eric Wu
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Kei Yoshikoshi
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Jonathan Chou
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->


			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Joseph Choi
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row -->	

		<div class="row inner-top-sm text-center">
			
			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/James Wu.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							James Wu
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Kevin Wu
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->

			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Pum Wiboonsaksakul
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->


			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							Mitchel Kim
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row -->	

		<div class="row inner-top-sm text-center">
			
			<div class="col-sm-3 inner-bottom-sm inner-left inner-right">
				<figure class="member">
					
					<div class="icon-overlay icn-link">
						<a href="#"><%= image_tag("about/human01.jpg", class: "img-circle") %></a>
					</div><!-- /.icon-overlay -->
					
					<figcaption>
					
						<h2>
							David Chou
						</h2>
						
					</figcaption>
					
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row -->	
		
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – Sopranos : END ============================================================= -->
  <%= javascript_include_tag 'templates/image-hover.js' %>