<!-- ============================================================= MAIN ============================================================= -->
		
<main>
	
	<!-- ============================================================= SECTION – MORE VIDEOS ============================================================= -->
	<section id="more-videos">
		<div class="container inner-top-md">
			<div class="row">
				<div class="col-sm-12">
					<div id="accordion" class="panel-group">
						<div class="panel panel-default">			  
							
							<div class="panel-heading text-center">
								<h4 class="panel-title">
									<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#content">
										<span>Our Performances</span>
									</a>
								</h4>
							</div><!-- /.panel-heading -->
							
							<div id="content" class="panel-collapse collapse">
								<div class="panel-body">
									<div id="owl-videos" class="owl-carousel owl-item-gap">
										
										<div class="item">
											<figure>
											
												<div class="icon-overlay icn-link">
													<a href="/media"><%= image_tag("media/work01.jpg") %></a>
												</div><!-- /.icon-overlay -->
												
												<figcaption class="bordered no-top-border">
													<div class="info">
														<h4><a href="/media">That's Christmas to Me</a></h4>
													</div><!-- /.info -->
												</figcaption>
												
											</figure>
										</div><!-- /.item -->
									
										<div class="item">
											<figure>
											
												<div class="icon-overlay icn-link">
													<a href="/media"><%= image_tag("media/work01.jpg") %></a>
												</div><!-- /.icon-overlay -->
												
												<figcaption class="bordered no-top-border">
													<div class="info">
														<h4><a href="/media">Bye Bye Love</a></h4>
														<p>Alvin Kang & Selina Kim</p>
													</div><!-- /.info -->
												</figcaption>
												
											</figure>
										</div><!-- /.item -->
									
										<div class="item">
											<figure>
											
												<div class="icon-overlay icn-link">
													<a href="/media"><%= image_tag("media/work01.jpg") %></a>
												</div><!-- /.icon-overlay -->
												
												<figcaption class="bordered no-top-border">
													<div class="info">
														<h4><a href="/media">&#19968;&#30524;&#30636;&#38291;</a></h4>
														<p>Nancy Zhu & Alex Li</p>
													</div><!-- /.info -->
												</figcaption>
												
											</figure>
										</div><!-- /.item -->
									
										<div class="item">
											<figure>
											
												<div class="icon-overlay icn-link">
													<a href="/media"><%= image_tag("media/work01.jpg") %></a>
												</div><!-- /.icon-overlay -->
												
												<figcaption class="bordered no-top-border">
													<div class="info">
														<h4><a href="/media">&#29233;</a></h4>
														<p>Andrew Ang & Lucy Yin</p>
													</div><!-- /.info -->
												</figcaption>
												
											</figure>
										</div><!-- /.item -->
									
										<div class="item">
											<figure>
											
												<div class="icon-overlay icn-link">
													<a href="/media"><%= image_tag("media/work01.jpg") %></a>
												</div><!-- /.icon-overlay -->
												
												<figcaption class="bordered no-top-border">
													<div class="info">
														<h4><a href="/media">&#25105;&#30340;&#27468;&#22768;&#37324;</a></h4>
														<p>Lucy Yin & Kevin Wu</p>
													</div><!-- /.info -->
												</figcaption>
												
											</figure>
										</div><!-- /.item -->
									
										
									

									
										
										
									</div><!-- /.owl-carousel -->
								</div><!-- /.panel-body -->
							</div><!-- /.content -->
							
						</div><!-- /.panel -->
					</div><!-- /.accordion -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – MORE VIDEOS : END ============================================================= -->
	
	
	<!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->
	
	<section id="portfolio-post">
		<div class="container inner-top-xs inner-bottom">
			
			<div class="row">
				<div class="col-sm-12">
					<div class="video-container">
						<iframe src="http://www.youtube.com/embed/xEQvW1wZhJM" width="1170" height="658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				</div><!-- /.col -->
			</div><!-- /.row -->
			
		</div><!-- /.container -->
		
	</section>
	
	<!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->
	
</main>

<!-- ============================================================= MAIN : END ============================================================= -->

  <%= javascript_include_tag 'templates/owl-carousel-script.js' %>

  <%= javascript_include_tag 'templates/image-hover.js' %>